.header_index{
    grid-area: header;

}

.titulo{
    font-style: italic;
    font-weight: normal;
    font-family: shadows into light;
    align-items: center;
}

.titulo_index{
    @extend .titulo;
    
    display: flex;
    justify-content: center;
    
    height: 100px;
    width: 100%;
    background-color: beige;
    
}

.nav_index{
    
    background-image: url(/img/icono.gatos.jpg);
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
    background-color: rgb(216, 216, 205);
    grid-area: nav;
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .ul_index{
        width: 70%;
        
        display: flex;
        justify-content: space-around;
        align-items: center;
        list-style-type: none;
        
        &a{
            text-decoration: none;
            font-family: luckiest guy;
            font-weight: 200;
            font-style: inherit;
            font-size: 30px;
            color: rgb(109, 106, 106);
    }
    

}






img{
    height: 100%;
}



.main_index{
    display: flex;
    justify-content: center;

    .div_index{
        height: 500px;
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content:center ;
    }
    
}


.imagen_index{
    height: 500px;
    width: 30%;
    transform: translate(40px,20px);
}


.h2_index{
    font-size: 100px;
    font-style: italic;
    font-family: Mochiy Pop One;
    text-align: center;
}

.p1_index{
    text-align: center;
    font-size: 30px;
    background-color: orange;
    background-image: linear-gradient(to right, yellow, rgb(255, 195, 83));
}


.footer{
    grid-area: footer;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}



@mixin estilo_alerta( $tamanio_letra,$color_fondo,$color_letra){

    font-size:$tamanio_letra;
    background-color:$color_fondo;
    color: $color_letra; 

    
}



.header_preguntas{
    grid-area: header;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    @include estilo_alerta(black, beige)

}

.titulo_preguntas{
   
   @extend .titulo;
}


.ul_preguntas{
    
    height: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    background-color: rgb(216, 216, 205);
}

.ul_preguntas a{
    text-decoration: none;
    font-family: luckiest guy;
    font-weight: 200;
    font-style: inherit;
    font-size: 30px;
    color: rgb(109, 106, 106);
}

.main_preguntas{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
    font-family:josefin sans ;
}

.lista_preguntas{
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;


}
.lista_preguntas li{
    list-style-type: none;
}





.header_ubicacion{
    display: flex;
    justify-content: center;
    align-items: center;
}


.navbar-nav{
   
    width: 100%;
    justify-content: space-evenly;
   
}

.navbar-nav :hover{
    transform: scale(2,2);
} 

.bi-github{
    font-size: 60px;
}

.main_ubicacion{
    height: 1800px;
}

.div_ubicacion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bi-arrow-down-square{
    font-size: 50px;
}

.section_ubicacion{
    height: 1800px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}


.container{
    height: 500px;
    width: 100%;
    background-color: aqua;
}



.h1_contacto{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: beige;
    font-style: italic;
    font-weight: normal;
    font-family: shadows into light;
}

.ul_contacto{
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    background-color: rgb(216, 216, 205);

}

.ul_contacto a{
    text-decoration: none;
    font-family: luckiest guy;
    font-weight: 200;
    font-style: inherit;
    font-size: 30px;
    color: rgb(109, 106, 106);


}

.section_contacto{
    height: 800px;
   
}

.form_contacto{
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.form_contacto :hover{
    transform: scale(2,2);
}


.h1_productos{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: beige;
    font-style: italic;
    font-weight: normal;
    font-family: shadows into light;

}

.section_productos{
    height: 1800px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
}



.img_comida{
    height: 450px;
    width: 30%;
}

.img_limpieza{
    height:300px ;
    width: 30%;
}

.img_cepillo{
    height:320px ;
    width: 30%;
}

.div_productos{
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.div_alimentos{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.div_higiene{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.div_cuidados{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.aside_productos{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.parrafo_aside{
    background-color: rgb(255, 167, 4);
    background-image: linear-gradient(to left, yellow, rgb(255, 208, 0));
}

.div_redes{
    display: flex;
    justify-content: space-around;

}

.footer_productos{
    display: flex;
    justify-content: center;
    align-items: center;
}